@import "tailwindcss";


:root{
  --color-primary: #FFFFFF;
  --color-secondary: #0A0A0A;
  --primary-button: #FFFFFF;
  --primary-secondary: #D0F348;

  --text-primary: #0A0A0A;
  --text-secondary: rgba(10, 10, 10, 0.2);

  --margin-x: 56px;
}


body{
  @apply bg-[var(color-primary)];
}